.articles-header {
    .banner {
        height: calc(100vh - 40px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        &::before {
            content: '';
            background: linear-gradient(0, #3A3A3A 10.42%, rgba(58, 58, 58, 0) 100%);
            mix-blend-mode: multiply;
            position: absolute;
            width: 100%;
            height: 50%;
            left: 0;
            z-index: 0;
        }

        .container {
            position: relative;
            z-index: 2;
            padding-bottom: 40px;
        }

        .title {
            @include h2;
            @include champagneText;
            margin-bottom: 2rem;

            @include breakpoint(untilTablet) {
                font-size: 28px;
                line-height: 36px;
                margin-bottom: 1rem;
            }
        }

        .text {
            @include body1;
            width: 80%;
            color: $lightgrey;
            text-align: justify;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .read-more {
            color: $primary;
            text-transform: uppercase;
            @include button;
            display: flex;
            align-items: center;
            position: absolute;
            right: 4rem;
            top: 58%;

            img {
                margin-left: .5rem;
            }
        }

        @include breakpoint(untilLaptop) {
            height: 70vh;

            .read-more {
                right: 1rem;
                bottom: -4rem;
            }

            &::before {
                height: 100%;
                background: linear-gradient(0, #3A3A3A 40.42%, rgba(58, 58, 58, 0) 100%);
            }
        }

    }
}

.articles-body {
    background-color: $lightgrey;
    position: relative;
    padding: 84px 0;
    padding-bottom: 160px;

    .graphics {
        left: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
        z-index: 0;

        img {
            width: 102%;
            object-position: top;
        }
    }

    .load-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }

    .bg {
        @include bg;
        opacity: 0.5;
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;

        .top-news {
            .item-container:not(:last-child) {
                border-bottom: 1px solid rgba($color: $text, $alpha: 0.5);
                padding-bottom: 24px;
                margin-bottom: 24px;

                @include breakpoint(desktop) {
                    padding-bottom: 54px;
                    margin-bottom: 54px;
                }
            }

            .img {
                margin-bottom: 26px;
                height: 15vw;

                @include breakpoint(untilLaptop) {
                    height: 30vh;
                }

                @include breakpoint(laptop) {
                    padding-right: 1rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .title {
                font-family: 'Quiche Display';
                font-style: normal;
                font-weight: 500;
                font-size: 31px;
                line-height: 38px;
                letter-spacing: 0.01em;
                margin-bottom: 2.5rem;
                color: $text;

                @include breakpoint(untilLaptop) {
                    margin-bottom: 1.5rem;
                    font-size: 22px;
                    line-height: 30px;
                }
            }

            .text {
                @include body1;
                text-align: justify;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.read-more {
    color: $primary;
    text-transform: uppercase;
    @include button;
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    justify-content: flex-end;

    img {
        margin-left: .5rem;
    }
}

.title-page {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    .title-text {
        @include h1;
        color: $text;
        white-space: nowrap;
    }

    .title-line {
        width: 612px;
        margin-left: auto;
        height: 1px;
        background-color: $primary;

        @include breakpoint(mobileonly) {
            width: 500px;
        }
    }
}

.featured {
    margin-bottom: 100px;

    .img {
        margin-bottom: 26px;
        height: 15vw;

        @include breakpoint(untilLaptop) {
            height: 30vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        @include h3;
        margin-bottom: 26px;
        color: $text;
    }

    .text {
        @include body1;
        text-align: justify;
        margin-bottom: 2rem;
    }

    .read-more {
        position: relative;
        right: 0;
        left: 0;
        top: 0;
        justify-content: flex-end;
    }
}