.lippo {
    padding: 100px 0;

    .bg-border {
        @include bg;

        img {
            object-fit: contain
        }
    }

    .item-text {
        height: 100%;
    }

    .content {
        height: 100%;
        margin: auto;
        position: relative;
        width: 100%;
        padding: 120px 70px 160px 65px;
    }

    .title {
        @include h1;
        @include champagneText;
        margin-bottom: 41px;
    }

    .text {
        @include body1;
        color: $lightgrey;
        text-align: justify;
        width: 70%;
    }
}

.map {
    padding: 134px 0;
}

.places {
    .row {
        margin: 0;
    }

    .item-img {
        padding: 0;
    }

    .item-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: relative;

        &.orange {
            background-color: #be5d39;
        }

        &.blue {
            background-color: $blue;
        }

        .bg {
            z-index: 0;
            mix-blend-mode: multiply;
        }
    }

    .content {
        position: relative;
        z-index: 1;
        padding: 100px;

        .title {
            @include h1;
            @include champagneText;
            margin-bottom: 42px;
        }

        .text {
            @include body1;
            color: white;
        }
    }
}