.masterplan {
    @include breakpoint(desktop) {
        height: 100vh;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.lippo {
    padding: 100px 0;

    .bg {
        @include bg;
    }

    .bg-border {
        @include bg;

        &.mobile {
            display: none;
        }

        @include breakpoint(untilLaptop) {
            display: none;
        }

        @include breakpoint(mobileonly) {
            &.mobile {
                display: block;
            }
        }

        img {
            object-fit: contain
        }
    }

    .content {
        height: 100%;
        margin: auto;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 15% 0 15%;
        justify-content: center;
    }

    .title {
        @include h1;
        @include champagneText;
        margin-bottom: 41px;
    }

    .text {
        @include body1;
        color: $lightgrey;
        text-align: justify;
        width: 70%;
    }

    @include breakpoint(untilLaptop) {
        padding: 64px 0;
        padding-top: 32px;

        .item-text {
            margin-bottom: 1.5rem;
        }

        .content {
            padding: 62px 24px;
            padding-bottom: 120px;
        }

        .title {
            margin-bottom: 32px;
        }

        .text {
            width: 100%;
        }
    }
}

.map {
    padding: 134px 0;
    position: relative;
    background-color: $lightgrey;

    .bg {
        @include bg;
        z-index: 0;
    }

    .img {
        position: relative;
        z-index: 1;
    }
}

.places {
    .row {
        margin: 0;
    }

    .item-img {
        padding: 0;
    }

    .item-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: relative;

        &.orange {
            background-color: $bg-orange;
        }

        &.blue {
            background-color: $blue;
        }

        .bg {
            @include bg;
            z-index: 0;
            mix-blend-mode: multiply;
        }
    }

    .content {
        position: relative;
        z-index: 1;
        padding: 100px;
        margin: auto;

        @include breakpoint(largeDesktop) {
            width: 80%;
        }

        @include breakpoint(untilTablet) {
            padding: 64px 24px;
            width: 100%;
        }

        .title {
            @include h1;
            @include champagneText;
            margin-bottom: 42px;
        }

        .text {
            @include body1;
            line-height: 19px;
            text-align: justify;
            color: $lightgrey;
            font-size: 14px;

            ul {
                margin-top: 6px;

                li {
                    margin-bottom: 6px;
                }
            }
        }
    }
}