.btn {
    border-radius: 0;
    background-color: transparent;
    padding: 13px 17px;
    @include button;

    &.btn-primary {
        border: 1px solid #EFE2CF;
        @include champagneText;
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.22em;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        img {
            margin-left: 8px;
        }
    }

    &.btn-outline-orange {
        color: $primary;
        background-color: transparent;
        border: 1px solid $primary;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1090px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}