nav.sidebar {
    background-color: $blue;
    height: 100vh;
    width: 74px;
    padding: 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);

    .bg {
        @include bg;
        bottom: 0;
        height: 50%;
        top: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        img {
            height: auto;
        }
    }

    .hamburger {
        cursor: pointer;
    }

    @include breakpoint(untilLaptop) {
        width: 100%;
        position: sticky;
        height: 100%;

        .bg {
            display: none
        }
    }
}

.offcanvas-sidebar {
    background-color: $blue;
    color: $lightgrey;

    .offcanvas-body {
        padding: 40px !important;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .dropdown-menu.show {
        position: relative !important;
        background-color: transparent;
        border: none;
        transform: none !important;
        padding-top: 1rem;

        li:last-child {
            margin-bottom: 0;
        }
    }

    .bg-bottom {
        @include bg;
        top: auto;
        bottom: 0;
        height: 40%;

        @include breakpoint(mobileonly) {
            height: 35%;
        }

        img {
            object-position: top;
        }
    }

    .btn-close {
        position: absolute;
        filter: brightness(0) invert(1);
        top: 15px;
        right: 20px;
        width: .5rem;
        height: .5rem;

        &:focus {
            box-shadow: none;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .header {
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;


        .language {
            display: flex;
            align-items: center;

            li {
                background: linear-gradient(50deg, #B3A38B 0%, #EFE2CF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                padding: 0 8px;
                @include button;
                margin-bottom: 0;

                &.active {
                    @include champagneText;
                }
            }

            #menu-item-154 {
                pointer-events: none;
            }
        }


    }

    .menu-container {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 24px;

                a {
                    @include champagneText;
                    text-transform: uppercase;
                    @include button;
                    font-weight: 700;
                }

                .dropdown-item {
                    padding-bottom: 0;
                }
            }
        }

    }

    .bottom-section {
        .title {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 800;
            font-size: 13px;
            line-height: 18px;
            /* identical to box height */

            letter-spacing: 0.1em;
            @include champagneText;
            margin-bottom: 18px;
            text-transform: uppercase;
        }

        .socials {
            display: flex;
            align-items: center;
            gap: 0 21px;
            margin-bottom: 42px;
        }

        .copyright {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            /* identical to box height */

            text-align: justify;
        }
    }
}

#footer {
    background-color: transparent !important;
    position: relative;
    z-index: 2;

    @include breakpoint(desktop) {
        padding-left: 4.5rem;
    }

    .bg {
        @include bg;
    }

    .footer-top {
        padding: 80px 0;
        position: relative;

        .col-lg-2 {
            width: 12%;

            @include breakpoint(untilTablet) {
                width: 50%;
            }
        }

        .col-socials {
            width: 16%;

            @include breakpoint(untilTablet) {
                width: 100%;
            }
        }

        .footer-logo {
            margin-bottom: 51px;
        }

        .title {
            text-transform: uppercase;
            @include champagneText;
            margin-bottom: 22px;
            font-weight: 900;
            font-size: 13px;
        }

        .text,
        li a {
            @include body1;
            color: $lightgrey;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li:not(:last-child) {
                margin-bottom: 21px;
            }
        }

        .award {
            display: flex;
            align-items: center;

            .img {
                margin-right: 20px;
            }
        }

        .socials {
            display: flex;
            align-items: center;

            .item {
                margin-right: 21px;

                img {
                    width: 19px;
                    height: 19px;
                }
            }
        }
    }

    .footer-bottom {
        position: relative;
        color: $lightgrey;
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 500;
        padding: 2rem 0;

        .text {
            font-size: 9px;
            line-height: 12px;
            letter-spacing: 0.31em;
            margin-bottom: 14px;
            text-transform: uppercase;
        }

        .small {
            font-size: 10px;
            line-height: 14px;
            margin-bottom: 11px;
        }
    }
}