.unit-header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 85px;

    .bg {
        @include bg;
    }

    .logo {
        z-index: 10;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(0, #3A3A3A 0%, rgba(58, 58, 58, 0) 100%);
        mix-blend-mode: multiply;
        opacity: 0.7;
    }
}

.unit-types {
    position: relative;
    padding: 100px;

    .bg {
        @include bg;
        z-index: 0;
        mix-blend-mode: multiply;
    }

    .container {
        position: relative;
        z-index: 1;

        .title {
            @include h2;
            @include champagneText;
        }

        .subtitle {
            @include subtitle2;
            color: $lightgrey;
            margin-bottom: 8px;
        }

        .type {
            margin-bottom: 40px;
        }

        .header {
            margin-bottom: 65px;
            align-items: center;

            .nav {
                display: flex;
                align-items: center;
                border: 1px solid #D9D9D9;
                padding: 18px 38px;
                border-radius: 20px;
                justify-content: space-between;

                .name {
                    font-family: 'Avenir';
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 0.55em;
                    color: #F5F5F5;
                    text-transform: uppercase;
                }

                .nav-link {
                    padding: 0 30px;
                    @include champagneText;
                    opacity: 0.4;
                    @include h3;
                    margin-top: 3px;
                    transition: all .2s ease;

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.testimony {
    background-color: $bg-orange;
    position: relative;

    .bg {
        @include bg;
        z-index: 0;
        mix-blend-mode: multiply;
        object-fit: contain;
        object-position: bottom;
    }

    .container-fluid {
        padding: 0;

        .ratio {
            position: relative;
            padding-top: 66%;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }
    }

    .container {
        z-index: 1;
        position: relative;
        padding: 100px 0;
    }

    .title {
        @include h2;
        @include champagneText;
        position: relative;
        padding-bottom: 1rem;
        margin-bottom: 160px;

        &:after {
            content: '';
            width: 180px;
            height: 2px;
            background: $champagne;
            left: 0;
            bottom: 0;
            position: absolute;
        }
    }

    .item {
        background-color: $blue;
        position: relative;
        padding: 32px 57px 20px 92px;
        border-radius: 20px;
        margin-left: 60px;
        margin-right: 60px;

        &::before {
            position: absolute;
            content: '';
            height: 36px;
            border-top-right-radius: 14px;
            border-top-left-radius: 14px;
            left: 0;
            width: 50%;
            top: -34px;
            background-color: $blue;
        }

        .img {
            width: 167px;
            height: 167px;
            position: absolute;
            left: -90px;
            top: -90px;

            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }

        .text {
            @include body1;
            color: $lightgrey;
            margin-bottom: 27px;
            text-align: justify;
        }

        .name {
            @include h3;
            @include champagneText;
        }
    }
}